{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <h1 class="text-center">키, 몸무게 그래프</h1>
    <div class="my-3">
      <canvas id="myChart"></canvas>
    </div>
    <div class="text-center">
      <a href="{% url 'chart:growth_list' %}" class="mx-3">리스트</a>
      <a href="{% url 'chart:growth_add' %}" class="btn btn-sm btn-primary">데이터 추가</a>
    </div>
  </div>
{% endblock content %}
{% block script %}

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script>
    const ctx = document.getElementById('myChart');
    const showChart = async () => {
      let response = await fetch('/chart/hayul_growth/get_data/');
      let jsonData = await response.json();
      let growth_data = jsonData.result;

      const data = {
        labels: growth_data.map(data => data.year_month),
        datasets: [
          {
            label: '키',
            data: growth_data.map(data => data.height),
            borderWidth: 1
          }, {
            label: '몸무게',
            data: growth_data.map(data => data.weight),
            borderWidth: 1
          }
        ]
      };

      const options = {
        scales: {
          y: {
            beginAtZero: false
          }
        }
      };
      
      new Chart(ctx, {
        type: 'line',
        data: data,
        options: options,
      });
    }
    showChart();
  </script>
{% endblock script %}
