{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <div class="my-3 text-center">
      <h1>블로그</h1>
    </div>
    <!-- 테이블 -->
    <table class="table text-center table-hover">
      <thead>
        <tr>
          <th scope="col">번호</th>
          <th scope="col">제목</th>
          <th scope="col">글쓴이</th>
          <th scope="col">글쓴날</th>
        </tr>
      </thead>
      <tbody>
        {% for post in page_obj %}
          <tr>
            <th scope="row">{{ post.pk }}</th>
            <td>
              <!-- onclick의 값이 true이면 href로 이동, false이면 이동 X -->
              <a href="{% url 'blog:post_detail' post.pk %}" onclick="return openOrPrivate('{{ post.author }}', '{{ post.private }}');">{{ post.title }}</a>
            </td>
            <td>{{ post.author }}</td>
            <td>{{ post.pub_date|date:"DATE_FORMAT" }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <!-- pagination -->
    <nav aria-label="page navigation">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?tag={{ selected_tag }}&page=1">처음</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?tag={{ selected_tag }}&page={{ page_obj.previous_page_number }}">이전</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link">처음</span></li>
          <li class="page-item disabled">
            <span class="page-link">이전</span></li>
        {% endif %}
        {% for page in page_obj.paginator.page_range %}
          <!-- 6페이지 앞으로 이동 버튼 -->
          {% if page == page_obj.number|add:-6 %}
            <li class="page-item">
              <a class="page-link" href="?tag={{ selected_tag }}&page={{ page_obj.number|add:-6 }}">...</a>
            </li>
          {% endif %}
          <!-- 전후 5페이지 표시 -->
          {% if page_obj.number|add:-5 <= page and page <= page_obj.number|add:5 %}
            {% if page_obj.number == page %}
              <li class="page-item active">
            {% else %}
              <li class="page-item">
            {% endif %}
                <a class="page-link" href="?tag={{ selected_tag }}&page={{ page }}">{{ page }}</a>
              </li>
          {% endif %}
          <!-- 6페이지 뒤로 이동 버튼 -->
          {% if page == page_obj.number|add:6 %}
            <li class="page-item">
              <a class="page-link" href="?tag={{ selected_tag }}&page={{ page_obj.number|add:6 }}">...</a>
            </li>
          {% endif %}
        {% endfor %}
          <!-- <li class="page-item"> <span class="page-link"> {{ page_obj.number }} / {{ page_obj.paginator.num_pages }} page </span> </li> -->
          {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?tag={{ selected_tag }}&page={{ page_obj.next_page_number }}">다음</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?tag={{ selected_tag }}&page={{ page_obj.paginator.num_pages }}">마지막</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <span class="page-link">다음</span></li>
            <li class="page-item disabled">
              <span class="page-link">마지막</span></li>
          {% endif %}
        </ul>
      </nav>
      <!-- pagination END -->

      <!-- Tag -->
      <div>
        <a class="badge rounded-pill bg-secondary mx-1" href="{% url 'blog:index' %}">ALL</a>
        {% for tag in tags %}
          <a class="badge rounded-pill bg-secondary mx-1" href="{% url 'blog:index' %}?tag={{ tag }}">{{ tag }}</a>
        {% endfor %}
      </div>

      <!-- 글쓰기 버튼 -->
      <div class="d-flex justify-content-end">
        <a href="{% url 'blog:post_create' %}" class="btn btn-primary">글쓰기</a>
      </div>
    </div>
  {% endblock content %}
{% block script %}
<script>
  function openOrPrivate(author, isPrivate) {
    if (isPrivate == 'True' && author != '{{ request.user.username }}'){
      alert('비공개 글입니다.')
      return false;
    } else {
      return true;
    }
  }
</script>
{% endblock script %}
