{% extends 'base.html' %}
{% load static %}
{% load blog_filter %}
{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link type="text/css" rel="stylesheet" href="{% static 'code-hilite.css' %}">
{% endblock head %}
{% block content %}
  <div class="container">

    <!-- 메시지 -->
    {% if messages %}
      <div class="alert alert-danger my-3">
        {% for message in messages %}
          <strong>{{ message.tag }}</strong>
          <ul>
            <li>{{ message.message }}</li>
          </ul>
        {% endfor %}
      </div>
    {% endif %}

    <!-- 제목 -->
    <div class="my-3 text-center">
      <h1 style="display: inline-block">{{ post.title }}</h1>
      {% if post.private %}
        <span class="badge bg-warning text-dark">비공개</span>
      {% endif %}
    </div>
    
    <!-- 정보 -->
    <div class="d-flex flex-column align-items-end">
      <p>글쓴이:
        {{ post.author }}</p>
      <p class="text-end">쓴날:
        {{ post.pub_date }}
        <br>
        고친날:
        {{ post.mod_date }}</p>
      <p>태그:
        {{ post.tag }}</p>
    </div>

    <!-- 본문 -->
    <p>{{ post.content|mark }}</p>

    <!-- Floating button -->
    <div class="dropup">
      <button type="button" class="btn btn-primary shadow dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-collection"></i>
      </button>
      <ul class="dropdown-menu">
        <!-- Dropdown menu links -->
        {% if post.author == request.user %}
          <li>
            <a href="javascript:void(0)" data-uri="{% url 'blog:post_delete' post.pk %}" id="delBtn" class="dropdown-item">
              <i class="bi bi-trash3"></i>
            </a>
          </li>
        {% endif %}
        <li>
          <a href="{% url 'blog:post_modify' post.pk %}" class="dropdown-item">
            <i class="bi bi-pen"></i>
          </a>
        </li>
        <li>
          <a href="{% url 'blog:index' %}" class="dropdown-item" href="#">
            <i class="bi bi-list-ol"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
{% endblock content %}

{% block script %}
  <script type="text/javascript">
    delBtn.addEventListener('click', (e) => {
      if (confirm('정말로 삭제하시겠습니까?')) {
        location.href = e.currentTarget.dataset.uri;
      }
    });

    tables = document.querySelectorAll('table');
    for(table of tables){
      table.classList.add('table');
    }
  </script>
{% endblock script %}
