:root {
  --fontFamily-sans: Montserrat, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --fontFamily-serif: "Merriweather", "Georgia", Cambria, "Times New Roman",
    Times, serif;
  --font-heading: var(--fontFamily-sans);
  --font-body: var(--fontFamily-serif);
  --color-text: #2e353f;
  --color-primary: #005b99;
  --color-text: #2e353f;
  --color-text-light: #4f5969;
  --color-heading: #1a202c;
  --color-heading-black: black;
  --color-accent: #d1dce5;
}

body {
  font-family: var(--font-body);
  color: var(--color-text);
}

/* TOC */
.toc {
  display: inline-block;
  padding-top: 16px;
  padding-right: 20px;
  margin-bottom: 30px;
}

.toc ul {
  list-style-type: none;
  padding-inline-start: 2ch;
}

/* Headers */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
}

h1 {
  color: var(--color-heading-black);
  font-weight: 900;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  /* color: inherit; */
}

a.headerlink {
  visibility: hidden;
}

h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink {
  visibility: visible;
}

/* Buttons */
a.btn {
  font-family: var(--bs-body-font-family);
}

/* Blockquote */
blockquote {
  border-left: 0.3rem solid var(--color-primary);
  padding: 0 1rem;
  margin-left: 0;
  font-style: italic;
  color: var(--color-text-light);
}

/* Code */
code,
pre {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  hyphens: none;
}

/* Code blocks */
pre {
  background-color: #2d2d2d;
  color: #ccc;
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

/* Inline code */
:not(pre) > code {
  background-color: rgba(0, 0, 0, 0.05);
  color: #c7254e;
  padding: 0.1em;
  border-radius: 0.3em;
  font-size: 0.9em;
  white-space: normal;
}
