<nav class="navbar navbar-light bg-light border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">RedTraining</a>
    <!-- 햄버거 버튼 -->
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- offcanvas -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <!-- 헤더 -->
      <div class="offcanvas-header">
        {% if user.is_authenticated %}
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">{{ user.username }}</h5>
          <a class="nav-link" href="{% url 'common:logout' %}">로그아웃</a>
        {% else %}
          <a class="offcanvas-title nav-link" href="{% url 'common:login' %}">로그인</a>
          {% comment %} <a class="offcanvas-title nav-link" href="{% url 'common:signup' %}">회원가입</a> {% endcomment %}
        {% endif %}
        <a class="offcanvas-title nav-link" href="admin/">관리자</a>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <!-- 바디 -->
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'habit:index' %}">습관 기록</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:index' %}">블로그</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'chart:index' %}">차트</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
